<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.developer.pruebaotraplantilla"
        version   = "1.0.0">


    <name>Nueva Prueba</name>

    <description>
        A ver si entendí. 
    </description>

    <author href="https://yourwebsite.com" email="andrescope@hotmail.com">
        Studio Nice
    </author>
        
    <preference name="phonegap-version" value="3.4.0" />
        
    <preference name="orientation" value="default" /> 
    
    <preference name="splash-screen-duration" value="3500" />
        <gap:splash src="images/cel.png" />
        
    <icon src="cel.png" />
    <icon src="images/icons/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="images/icons/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="images/icons/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="images/icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    
    <preference name="permissions" value="none"/>
        
    <preference name="stay-in-webview" value="false" />
        
        
    
        
    <preference name="android-minSdkVersion" value="5" />

</widget>